:root {
  /* FONTS */
  --main-font: DM Sans, sans-serif;
  --secondary-font: Raleway, sans-serif;;

  /* COLORS */
  --main-text-color: #333333;
  --secondary-text-color: #A8A8A8;
  --background-color: #E5E5E5;
  --main-background-color:#f3f9f2;
  --accent-color: #9d331f;
  --second-accent-color: #04202c;
  --sidebar-second-color: #304040;

  --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--background-color);
  font-family: var(--main-font);
  color: var(--main-text-color);
  font-style: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

h1, 
h2, 
h3, 
h4, 
p,
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  font-style: normal;
  color: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.link:hover,
.link:focus {
  color: var(--accent-color);
}


/* main */
.main {
  width: 1200px;
  /* padding: 30px; */
  padding: 15px;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
}

.container {
  flex-grow: 1;
  background: var(--main-background-color);
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.section {
  padding-left: 80px;
  padding-right: 100px;
  padding-bottom: 30px;
}

.user {
  padding-top: 80px;
  padding-right: 100px;
}

.user__uppertitle {
  color: var(--accent-color);
  display: block;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 700;
}

.user__title {
  display: inline-block;
  margin-bottom: 24px;
  font-family: var(--secondary-font);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 1.22;
  color: var(--second-accent-color);
}

.section__title {
  display: inline-block;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 22px;
  line-height: 1.23;
  color: var(--second-accent-color);
}

/* Project */
.projects__list {
  margin: 0;
  padding: 0 0 0 20px;
  font-weight: 700;
  color: var(--second-accent-color);
}

.projects__item:not(:last-child) {
  margin-bottom: 6px;
}

.project_link-container {
  display: flex;
}

.projects__link {
  font-weight: 700;
  display: block;
}

.projects__link:not(:last-of-type) {
  margin-right: 20px;
}


.projects__description {
  font-size: 14px;
  font-weight: 400;
    color: var(--main-text-color);
}

/* work */
.work__organization {
  color: var(--second-accent-color);
  display: block;
  font-size: 16px;
  line-height: 1.25;
  margin-bottom: 6px;
}

.work__position {
  /* color: var(--accent-color); */
  font-weight: 700;
  display: block;
  margin-bottom: 6px;
}

.work__dates {
  display: block;
  margin-bottom: 10px;
  color: var(--secondary-text-color);
  font-size: 12px;
  line-height: 1.25;
}

.work__line,
.study__line {
  color: var(--main-text-color);
  font-weight: 400;
}

.work-list {
  margin: 0;
  padding: 0 0 0 20px;
}


/* education */
.education {
  padding-bottom: 100px;
}

.education__item:not(:last-child) {
  margin-bottom: 15px;
}

.study__place {
  /* color: var(--accent-color); */
  color: var(--second-accent-color);
}

.study__faculty {
  color: var(--second-accent-color);
  font-weight: 400;
  font-size: 16px;
}

.study__faculty--university {
  display: block;
}

.study__dates {
  color: var(--secondary-text-color);
  font-size: 12px;
  line-height: 1.25;
}


/* sidebar */
.sidebar {
  min-width: 300px;
  color:#c3c2c0;
  background: linear-gradient(to right, var(--second-accent-color), var(--sidebar-second-color));
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
  margin-top: 40px;
  margin-bottom: 50px;
}

.sidebar-text-wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.sidebar-title {
  margin-bottom: 10px;
}

.skills {
  margin-bottom: 70px;
}

.skills-item:not(:last-child) {
  margin-bottom: 42px;
}

.inner-list {
  margin-left: -10px;
}

.contacts {
  /* margin-bottom: 70px; */
  margin-bottom: 42px;
}

.contacts__list {
  margin-bottom: 6px;
}

.contacts__link {
  display: flex;
  align-items: center;
  padding-bottom: 2px;
}

/* .contacts__icon {
  fill: currentColor;
  margin-right: 8px;
} */

/* Socials*/
/* .socials {
  display: flex;
}

.socials__item:not(:last-child) {
  margin-right: 14px;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: var(--background-color);
  color: var(--second-accent-color);

  transition: background-color 250ms var(--transition-timing),
    color 250ms var(--transition-timing);

}

.socials__link:hover,
.socials__link:focus {
    background-color: var(--accent-color);
    color: var(--main-background-color);
  }

.socials__icon {
  fill: currentColor;
} */


.location {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.location__icon {
  margin-right: 8px;
  stroke: currentColor;
}

